<div class='{{ if .Get "compact" }}{{else}}grid{{ end }}'>

	{{ $products := where .Site.Pages "Type" "products" }}
	{{ $products := where $products "Kind" "page" }}
	{{ .Scratch.Set "products" (sort $products ".Params.ordinal") }}

	{{ if .Get "action" }}
		{{ .Scratch.Set "products" (where (.Scratch.Get "products") ".Params.action" true) }}
	{{ end }}

	{{ if .Get "category" }}
		{{ .Scratch.Set "products" (where (.Scratch.Get "products") ".Params.category" (.Get "category")) }}
	{{ end }}

	{{ if .Get "limit" }}
		{{ .Scratch.Set "products" (first (.Get "limit") (.Scratch.Get "products")) }}
	{{ end }}

	{{ if .Get "compact" }}
		{{ range .Scratch.Get "products" }}
			<div class="container" style="margin: 0 .5em">
				<div class="row">
					{{ partial "card-compact.html" . }}
				</div>
			</div>
		{{ end }}
	{{ else }}
		{{ range .Scratch.Get "products" }}
			{{ partial "card.html" . }}
		{{ end }}
	{{ end }}

</div>
