<div class="meatshop">

	{{ $products := where .Site.Pages "Type" "products" }}
	{{ $products := where $products "Kind" "page" }}
	{{ .Scratch.Set "products" (sort $products ".Params.ordinal") }}

	{{ if .Get "category" }}
		{{ .Scratch.Set "products" (where (.Scratch.Get "products") ".Params.category" (.Get "category")) }}
	{{ end }}

	{{ if .Get "limit" }}
		{{ .Scratch.Set "products" (first (.Get "limit") (.Scratch.Get "products")) }}
	{{ end }}

	{{ range .Scratch.Get "products" }}
		{{ partial "product.html" . }}
	{{ end }}

</div>
