{{- if not ($.Page.Scratch.Get "meatshopcount") }}<link rel="stylesheet" href="/css/meatshop.css" />{{ end }}
{{- $.Page.Scratch.Add "meatshopcount" 1 }}

<div class="meatshop">

	{{ $items := where .Site.Data.producten "category" (.Get "category") }}

	{{ range $items }}
	<div class="card">
		<img src="{{ .image }}">
		<div class="card-content">
			<h4 class="card-title">{{ .name }}</h4>
			{{ .caption }}
			<hr>
			<span class="card-price">{{ default 0 .price }}</span>
		</div>
	</div>
	{{ end }}
</div>
