.meatshop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.meatshop .card:first-child {
  grid-row: span 2;
}

.meatshop .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.meatshop .card .card-content {
  padding: 15px;
  color: black;
  background-color: white;
}

.meatshop .card .card-price::before {
  content: "€";
}

.meatshop .card .card-price {
  color: green;
  text-decoration: solid;
  font-size: larger;
}

.meatshop .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
