.grid .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  align-self: start;
}

.grid .card .card-content {
  padding: 15px;
  color: black;
}

.grid .card hr {
  margin: 1em 0;
  border-color: #ffc107;
}

.grid .card .card-price::before {
  content: "€";
}

.grid .card .card-price {
  color: green;
  text-decoration: solid;
  font-size: larger;
}

.grid .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
